a:link {color:#FF7519;}      /* unvisited link */
a:visited {color:#FF7519;}  /* visited link */
a:hover {color:#FF7519;}  /* mouse over link */
a:active {color:#FF7519;}  /* selected link */


body {
    font:1em "Lucida Sans Unicode","Lucida Grande",sans-serif;
    //background: -webkit-linear-gradient(bottom,black, grey); /* For Safari */
    //background: -o-linear-gradient(bottom,black, grey); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(bottom,black, grey); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(bottom,black, grey); /* Standard syntax */
    background: -webkit-radial-gradient(black, black); /* For Safari */
    background: -o-radial-gradient(black, black); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(black, black); /* For Firefox 3.6 to 15 */
    background: radial-gradient(black, black); /* Standard syntax */
    color: white;
    font-weight: bold;
}

#loginContainer{
    position: absolute;
    top : 12em;
    left: 3em;
    width: 100%;
}

#logoBanco{
    position: absolute;
    top : 4em;
    left: 10em;
    font-size: 50px;
    color: #202020   ;
}

#logoBancoPage{
    font-size: 40px;
    color: #202020;
    z-index: -2;
}

#rootMenuSim {
    border-style: none ;
    background-color: black;
    color: white;
    font-size: 1em;
}

#rootMenuSim ul li{
    display: inline-table;
    padding-right: .5em;
}


#rootMenuSim ul li a
{
    border-radius: 5px;
    padding: .2em 1em;
    color: white;
    font-weight: bolder;
    border-style: solid ;
    border-color: #FF7519;
    font-size: .8em;
}

#rootMenuSim ul li a:hover
{
    color: #FF7519;
    font-weight: bolder;
    //color naranja
    border-style: solid ;
    border-color: #FF7519;
}


#rootMenu {
    border-style: solid ;
    background-color: black;
    border-radius: 25px;
    border-color: #FF7519;
    color: white;
    font-size: 1em;
}

#rootMenu ul li{
    padding-bottom: 2.2em;
    display: inline-table;
    padding-right: .5em;
}


#rootMenu ul li a
{
    border-radius: 5px;
    padding: .2em 1em;
    color: white;
    font-weight: bolder;
    border-style: solid ;
    border-color: white;
    font-size: .8em;
}

#rootMenu ul li a:hover
{
    color: #FF7519;
    font-weight: bolder;
    //color naranja
    border-style: solid ;
    border-color: #FF7519;
}

#backLink{
    position: absolute;
    left: 1em;
    top:-1.5em;
}

#backLink img{
    height: 5em;
    width: 5em;
}

#forwardLink{
    position: absolute;
    top: -1.5em;
    right: 1em;
}

#forwardLink img{
    height: 5em;
    width: 5em;
}


input[type=text]{
    width: 15em;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #FF7519;
}


input[type=password]{
    width: 15em;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #FF7519;
}

input[type=submit]{

    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    border-color: black;
    border-style: solid double;
    font-size: 1.3em;
    padding: .2em 1em;
}


input[type=button]{

    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    border-color: black;
    border-style: solid double;
    font-size: 1.3em;
    padding: .2em 1em;
}


label{
    font-size: 1.3em;
    color: white;
}

/*definicion de la parte del usuario*/
#userName{
    position: absolute;
    margin-left:  65%;
    background-color: transparent;
    color:orangered; 
    font-size: 1.2em;
    font-weight: bold;
}



#title {
    padding: .2em .5em;
    margin-left: 2em;
    background-color: transparent;
    color:white; 
    font-size: .5em;
    font-weight: bolder;
}


#container { 
    padding-top: .2em;
    position: relative;
    z-index: 0;
    width: 100%;
}



/*edicion sobre tabla de datos de cuentas*/
#dataTableSmall{
    border: 2px solid;
    border-color: #FF7519;
    border-spacing: 1em;
    border-radius: 7px;
    background-color: black;
}

#dataTableSmall th{
    background-color: #FF7519;
    border-radius: 5px;
    border-width: 5px;
    color: black;
    font-weight: bold;
    font-size: .7em;
}

#dataTableSmall td{
    border: 3px solid white;
    text-align: center;
    font-size: .7em;
}

#dataTableSmall td a{
    color:white;
}


/*edicion sobre tabla de datos de cuentas*/
#dataTable{
    border: 2px solid;
    border-color: #FF7519;
    border-spacing: 1em;
    border-radius: 7px;
    background-color: black;
}

#dataTable th{
    background-color: #FF7519;
    border-radius: 5px;
    border-width: 5px;
    color: black;
    font-weight: bold;
    font-size: 1em;
}

#dataTable td{
    border: 3px solid white;
    text-align: center;
    font-size: 1em;
}

#dataTable td a{
    color:white;
}

select{
    width: 15em;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #FF7519;
}


//calendar beginning

.calendar_date_select {
  color:white;
  border:blue 1px solid;
  display:block;
  width:195px;
  z-index: 1000;
}
/* this is a fun ie6 hack to get drop downs to stay behind the popup window.  This should always be just underneath .calendar_date_select */
iframe.ie6_blocker {
  position: absolute;
  z-index: 999;
}

.calendar_date_select thead th {
  font-weight:bold;
  background-color: #FF7519;
  border-top:2px solid #777;
  border-bottom:2px solid black;
  border-right: 2px solid #777;
  border-color: #FF7519;
  color: black !important;
}

.calendar_date_select .cds_buttons {
  text-align:center;
  padding:5px 0px;
  background-color: black;
}

.calendar_date_select .cds_footer {
  background-color: black;
  padding:3px;
  font-size:12px;
  text-align:center;
}

.calendar_date_select table {
  margin: 0px;
  padding: 0px;
  
  border-top: 3px solid #FF7519;
  border-right: 3px solid #FF7519;
  border-left:  3px solid #FF7519;
  border-bottom: 3px solid #FF7519;
  
}


.calendar_date_select .cds_header {
  background-color: black;
  border-top: 3px solid #FF7519;
  border-right: 3px solid #FF7519;
  border-left:  3px solid #FF7519;
  border-bottom: 3px solid black;
  text-align:center;
  padding-top: 1px;
  height:19px;
}

.calendar_date_select .cds_header span {
  font-size:15px;
  color: white;
  font-weight: bold;
}

.calendar_date_select select { font-size:11px;}

.calendar_date_select .cds_header a:hover {
  color: white;
}
.calendar_date_select .cds_header a {
  width:18px;
  height:20px;
  text-decoration: none;
  font-size:14px;
  color:white !important;
}

.calendar_date_select .cds_header a.prev {
  float:left;
}
.calendar_date_select .cds_header a.next {
  float:right;
}

.calendar_date_select .cds_header a.close {
  float:right;
  display:none;
}

.calendar_date_select .cds_header select.month {
  width:90px;
}

.calendar_date_select .cds_header select.year {
  width:61px;
}
.calendar_date_select .cds_buttons a {
  color: white;
  font-size: 9px;
}

.calendar_date_select td {
  font-size:12px;
  font-weight: bold;
  width: 24px;
  height: 21px;
  text-align:center;
  vertical-align: middle;
  background-color: black;
}
.calendar_date_select td.weekend {
  background-color: black;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
}

.calendar_date_select td div {
  color: #FF7519;
}
.calendar_date_select td div.other {
  color: gray;
  
}
.calendar_date_select td.selected div {
  color:white;
}

.calendar_date_select tbody td {
  border-bottom: 1px solid #ddd;
}
.calendar_date_select td.selected {
  background-color:#777;
}

.calendar_date_select td:hover {
  background-color:#ccc;
}

.calendar_date_select td.today {
  border: 1px dashed #999;
}

.calendar_date_select td.disabled div {
  color: #e6e6e6;
}

.fieldWithErrors .calendar_date_select {
  border: 2px solid red;
}

//calendar end