a:link {color:#B40404;}      /* unvisited link */
//a:visited {color:#B40404;}  /* visited link */
a:hover {color:#B40404;}  /* mouse over link */
a:active {color:#B40404;}  /* selected link */


body {
    font:1em "Lucida Sans Unicode","Lucida Grande",courier;
    //background: -webkit-linear-gradient(bottom,black, grey); /* For Safari */
    //background: -o-linear-gradient(bottom,black, grey); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(bottom,black, grey); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(bottom,black, grey); /* Standard syntax */
    background: -webkit-radial-gradient(whitesmoke, whitesmoke); /* For Safari */
    background: -o-radial-gradient(whitesmoke, whitesmoke); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(whitesmoke, whitesmoke); /* For Firefox 3.6 to 15 */
    background: radial-gradient(whitesmoke, whitesmoke); /* Standard syntax */
    color: #2E64FE;
    //font-weight: bold;
}

.tituloGestion{
    font-family: verdana;
    font-size: 3em;
    color: #4C46F5;
}

#divTitle{
    background: -webkit-linear-gradient(#605BF9, #8C88FA); /* For Safari */
    background: -o-linear-gradient(#605BF9, #8C88FA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#605BF9, #8C88FA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#605BF9, #8C88FA); /* Standard syntax */
    background-color: blue;
    height: 100px;
    border-radius: 10px;
}

#divUser{
    position: relative;
    right: 5%;
    top:0;
    float: right;
}

#userDetail{
    color: #4C46F5;
    font-size: x-large;
}

#divTitle a{
    alignment-adjust: central;
    position: relative;
    left: 12%;
    top: 30%;
    font-family: verdana;
    color:white;
    font-size:45px;
}

#divIzquierda{
     position: relative; 
     width: 270px;
     top: 0; 
     left:0;
     margin-left: 4%;
     resize: none;
     float:left; 
}

#divDerecha{
     position: relative; 
     width: 60%;
     top: 0; 
     margin-right: 5%;
     right: 0;
     float: right;
}

#loginContainer{
    position: absolute;
    top : 12em;
    left: 3em;
    width: 100%;
}

#logoBanco{
    position: absolute;
    top : 4em;
    left: 10em;
    font-size: 50px;
    color: #202020   ;
}

#logoBancoPage{
    font-size: 40px;
    color: #202020;
    z-index: -2;
}


.titulosMenu{
    color: #4C46F5;
    font-size: x-large;
}

.titMenPri{
    color: #4C46F5;
    font-size: large;
}


.cuadroMenu:hover{
    cursor: pointer;
}

.cuadroMenu{
    height: 100;
    background-color: #BEBCEB;
    border-radius: 25px;
    border-style: solid;
    
}

.cuadroMenu a{
    color:#605BF9;
    font-weight: bolder;
    font-family: verdana;
}


.simEjercicio{
    color: #605BF9;
    font-size: 1.5em;
    font-weight: bold;
}

.simIcap{
    color:red;
    font-size: 2em;
    font-weight: bold;
}

#rootMenu {
    
    border-style: solid ;
    background: linear-gradient(#CBCAF4,#E5E4FD); /* Standard syntax */
    background-color: #CBCAF4;
    width: 100%;
    border-radius: 10px;
    border-color: #2E64FE;
    color: #2E64FE;
    font-size: 1em;
}


#rootMenu ul{
    margin-left: -5%;
}

#rootMenu ul li{
    padding-bottom: 1em;
    display: list-item;
    padding-right: .2em;
}


.submenu{
    padding-top: .75em;
    display: none;
}



#rootMenu ul li a
{
    border-radius: 5px;
    padding: .2em 1em;
    color: #2E64FE;
    font-weight: bolder;
    border-style: solid ;
    border-color: #2E64FE;
    font-size: .8em;
}

#rootMenu ul li a:hover
{
    color: #B40404;
    font-weight: bolder;
    //color naranja
    border-style: solid ;
    border-color: #B40404;
    
}



#backLink{
    position: absolute;
    left: 1em;
    top:-1.5em;
}

#backLink img{
    height: 5em;
    width: 5em;
}

#forwardLink{
    position: absolute;
    top: -1.5em;
    right: 1em;
}

#forwardLink img{
    height: 5em;
    width: 5em;
}


input[type=text]{
    width: 15em;
    color: #3A01DF;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #A9A9F5;
}


input[type=password]{
    width: 15em;
    color: #3A01DF;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #A9A9F5;
}

input[type=submit]{

    background-color: #0080FF;
    color: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid double;
    font-size: 1em;
    padding: .2em 1em;
}


input[type=button]{

    background-color: #0080FF;
    color: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid double;
    font-size: 1em;
    padding: .2em 1em;
}


label{
    font-size: 1.3em;
    color: #2E64FE;
}

/*definicion de la parte del usuario*/
#userName{
    position: absolute;
    margin-left:  65%;
    background-color: transparent;
    color:orangered; 
    font-size: 1.2em;
    font-weight: bold;
}



#title {
    padding: .2em .5em;
    margin-left: 2em;
    background-color: transparent;
    color:red; 
    font-size: .5em;
    font-weight: bolder;
}


#container { 
    padding-top: .2em;
    position: relative;
    z-index: 0;
    width: 100%;
}



/*edicion sobre tabla de datos de cuentas*/
#dataTableSmall{
    border: 2px solid;
    border-color: #2E64FE;
    border-spacing: 1em;
    border-radius: 7px;
    background-color: #EFFBFB;
}

#dataTableSmall th{
    background-color: #2E64FE;
    border-radius: 5px;
    border-width: 5px;
    color: white;
    font-weight: bold;
    font-size: .7em;
}

#dataTableSmall td{
    border: 3px solid #2E64FE;
    text-align: center;
    font-size: .7em;
    color: black;
}



/*edicion sobre tabla de datos de cuentas*/
#dataTable{
    border: 2px solid;
    border-color: #2E64FE;
    border-spacing: 1em;
    border-radius: 7px;
    background-color: #EFFBFB;
}

#dataTable th{
    background-color: #2E64FE;
    border-radius: 5px;
    border-width: 5px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

#dataTable td{
    border: 3px solid #2E64FE;
    text-align: center;
    font-size: 1em;
    color:black;
}

#dataTable td a{
    color:red;
}

#dataTable td a:hover{
    color:#380B61;
}

select{
    width: 15em;
    color: #3A01DF;
    font-weight: bold;
    font-size: 1.3em;
    background-color: #A9A9F5;
}


//calendar beginning

.calendar_date_select {
  color:white;
  border:blue 1px solid;
  display:block;
  width:195px;
  z-index: 1000;
}
/* this is a fun ie6 hack to get drop downs to stay behind the popup window.  This should always be just underneath .calendar_date_select */
iframe.ie6_blocker {
  position: absolute;
  z-index: 999;
}

.calendar_date_select thead th {
  font-weight:bold;
  background-color: #380B61;
  border-top:2px solid #777;
  border-bottom:2px solid black;
  border-right: 2px solid #777;
  border-color: #380B61;
  color: white !important;
}

.calendar_date_select .cds_buttons {
  text-align:center;
  padding:5px 0px;
  background-color: black;
}

.calendar_date_select .cds_footer {
  background-color: black;
  padding:3px;
  font-size:12px;
  text-align:center;
}

.calendar_date_select table {
  margin: 0px;
  padding: 0px;
  
  border-top: 3px solid #380B61;
  border-right: 3px solid #380B61;
  border-left:  3px solid #380B61;
  border-bottom: 3px solid #380B61;
  
}


.calendar_date_select .cds_header {
  background-color: black;
  border-top: 3px solid #380B61;
  border-right: 3px solid #380B61;
  border-left:  3px solid #380B61;
  border-bottom: 3px solid black;
  text-align:center;
  padding-top: 1px;
  height:19px;
}

.calendar_date_select .cds_header span {
  font-size:15px;
  color: white;
  font-weight: bold;
}

.calendar_date_select select { font-size:11px;}

.calendar_date_select .cds_header a:hover {
  color: white;
}
.calendar_date_select .cds_header a {
  width:18px;
  height:20px;
  text-decoration: none;
  font-size:14px;
  color:white !important;
}

.calendar_date_select .cds_header a.prev {
  float:left;
}
.calendar_date_select .cds_header a.next {
  float:right;
}

.calendar_date_select .cds_header a.close {
  float:right;
  display:none;
}

.calendar_date_select .cds_header select.month {
  width:90px;
}

.calendar_date_select .cds_header select.year {
  width:61px;
}
.calendar_date_select .cds_buttons a {
  color: white;
  font-size: 9px;
}

.calendar_date_select td {
  font-size:12px;
  font-weight: bold;
  width: 24px;
  height: 21px;
  text-align:center;
  vertical-align: middle;
  background-color: black;
}
.calendar_date_select td.weekend {
  background-color: black;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
}

.calendar_date_select td div {
  color: white;
}
.calendar_date_select td div.other {
  color: grey;
  
}
.calendar_date_select td.selected div {
  color:white;
}

.calendar_date_select tbody td {
  border-bottom: 1px solid #ddd;
}
.calendar_date_select td.selected {
  background-color:#777;
}

.calendar_date_select td:hover {
  background-color:#ccc;
}

.calendar_date_select td.today {
  border: 1px dashed #999;
}

.calendar_date_select td.disabled div {
  color: #e6e6e6;
}

.fieldWithErrors .calendar_date_select {
  border: 2px solid red;
}

//calendar end


//init menu simulacion

#menuSim {
    border-style: solid ;
    background-color: whitesmoke;
    border-radius: 10px;
    border-color: #2E64FE;
    color: #2E64FE;
    font-size: 1em;
}


#menuSim ul li{
    padding-bottom: 1em;
    display: inline-table;
    padding-right: .2em;
}


#menuSim ul li a
{
    border-radius: 5px;
    padding: .2em 1em;
    color: #2E64FE;
    font-weight: bolder;
    border-style: solid ;
    border-color: #2E64FE;
    font-size: .8em;
}

#menuSim ul li a:hover
{
    color: #B40404;
    font-weight: bolder;
    //color naranja
    border-style: solid ;
    border-color: #B40404;
}
